./competitive_coding/project_euler/
./competitive_coding/hackerrank/
./is/crypto/
./is/volatility/
./cbot/
./pm/c_py-scripts/
./pm/games/
./pm/maths/
./cbnm/Numerical-Analysis/
./dfs/
./coa/Conversions/
./coa/Operations/
./itw/shells/scripts/shell-scripts/
./git/
./git/assign-repo/
./git/my-first-repo/
./git/my-exe-repo/
./git/my-exe-repo/lego/
./incois
./others/Random-Test-Case-Generator/
./os/os_assign/
./is/Stegnography
./dbms/Web_series
./Algorithms/
./projects/Code-for-learn-machinelearning
./others/Cheatsheet-lang/mongoDB
